body {
  background: #09090a;
}

.container {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
  width: 100%;
  justify-content: space-between;
}

.container h1 {
  margin: 84px 0 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 10px 4px 4px rgba(97, 206, 112, 0.75);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.input-container Form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  width: 50%;
  padding: 15px;
  border: none;
  background: #27272a;
  border-radius: 8px;
  color: #f0f0f0;
  font-size: 16px;
}

.input-container button {
  height: 50px;
  background: var(--green-500);
  border: none;
  margin-left: 2rem;
  margin-top: -10px;
  width: 5%;
  background: #50b9a9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: filter 0.2s;
}

.input-container button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.Perfil {
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 6rem;
  background: var(--dark-300);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
  margin-left: 1rem;
  transition: filter 0.2s;
}

.Whatsapp {
  border: 0;
  overflow: hidden;
  width: 6rem;
  background: var(--dark-300);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
  margin-left: 20rem;
  transition: filter 0.2s;
}

.Books {
  border: 0;
  border-radius: 20%;
  overflow: hidden;
  width: 6rem;
  background: var(--dark-300);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  margin-left: 11rem;
  transition: filter 0.2s;
}
table {
  padding: 3.6rem 1.5rem;
  width: 100%;
  margin-top: -1rem;
  margin-left: -2rem;
}

thead th {
  background: #d0fcc0;
  text-align: center;
  border: 1px solid #797c7c;
  border-top: 3px solid #797c7c;
  text-align: center;
  line-height: 2.5rem;
  width: 2.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

thead tr th {
  cursor: pointer;
}

thead tr:hover th {
  background-color: #c6c6d3;
}

tbody td {
  background: #d0fcc0;
  text-align: center;
  border: 1px solid #797c7c;
  border-top: 3px solid #797c7c;
  line-height: 1.5rem;
  font-weight: bold;
  height: 4.5rem;
}

tbody tr td {
  cursor: pointer;
}

tbody tr:hover td {
  background-color: #c6c6d3;
}

table button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--white);
  transition: color 0.2s;
  /* Por ser um botao de icone a gente coloca isso para que quando navegar por tab a borda fique mais colada no icone */
  line-height: 0;
  border-radius: 2px;
}
table button:hover {
  color: var(--red-500);
}
